   <!--Main container start -->
            <main class="ttr-wrapper">
                <div class="container-fluid">
                    <div class="db-breadcrumb">
                        <h4 class="breadcrumb-title">Google reCAPTCHA</h4>
                        <ul class="db-breadcrumb-list">
                            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                            <li>Google reCAPTCHA</li>
                        </ul>
                    </div>
                    <div class="row">
                        <!-- Your Profile Views Chart -->
                        <div class="col-lg-12 m-b30">
                            <div class="widget-box">
                                <div class="widget-inner">
                                    <form class="edit-profile m-b30" action="" method="POST" type="file" enctype="multipart/form-data">
                                        <div class="col-12">
                                            <div class="ml-auto">
                                                <h3> Google reCAPTCHA</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-12">
                                                <label class="col-form-label">Site Key</label>
                                                <div>
                                                    <input class="form-control" type="text" name="sitekey" value="6Ld5Bl0UAAAAAIAqFP6Ygdi_03O6Is-inlCsZfn9" required>
                                                </div>
                                            </div>
                                            <div class="seperator"></div>
                                            <div class="form-group col-12">
                                                <label class="col-form-label">Secret Key</label>
                                                <div>
                                                    <input class="form-control" type="text" value="6Ld5Bl0UAAAAAK6dwYkYwBMjuGJLowgq9GsGLMkp" name="sitekey" required>
                                                </div>

                                            </div>
                                            <div class="form-group col-12">
                                                <label class="col-form-label">Language</label>
                                                <div>
                                                    <input class="form-control" type="text" value="en" name="sitekey" required>
                                                </div>
                                                <span><a style="font-size: 13px;" href="https://developers.google.com/recaptcha/docs/language">https://developers.google.com/recaptcha/docs/language</a></span>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn-secondry add-item m-r5"><i
												class="fa fa-fw fa-plus-circle"></i>&nbsp;Save Changes</button>
                                            </div>
                                        </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Your Profile Views Chart END-->
                    </div>
                </div>
            </main>
        