<!-- Inner Content Box ==== -->
<div class="page-content">
	<!-- Page Heading Box ==== -->
	<div class="page-banner ovbl-dark"
		style="background-image:url(assets/images/banner/book.jpg);background-size: 100% 201%;">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">About Us </h1>
			</div>
		</div>
	</div>
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="/home">Home</a></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- Page Heading Box END ==== -->
	<!-- Page Content Box ==== -->
	<div class="content-block">
		<!-- About Us ==== -->
		<div class="section-area section-sp1">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Our Philosophy</h5>
								<p>“An investment in knowledge always pays the best interest.”</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Kingster's Principle</h5>
								<p>“Education is simply the soul of a society as it passes from one generation to
									another.”</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Key Of Success</h5>
								<p>“The Pessimist Sees Difficulty In Every Opportunity. The Optimist Sees Opportunity In
									Every Difficulty.”</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 m-b30">
						<div class="feature-container">
							<div class="feature-md text-white m-b20">
								<a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png" alt="" /></a>
							</div>
							<div class="icon-content">
								<h5 class="ttr-tilte">Our Philosophy</h5>
								<p>“Education is the key that unlocks the golden door to freedom.”</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- About Us END ==== -->
		<!-- Our Story ==== -->

		<div class="section-area section-sp1 our-story">
			<div class="container">
				<h1 class=" text-center">ABOUT US</h1>
				<div class="row align-items-center d-flex">


					<div class="col-lg-6 col-md-12 heading-bx p-lr">
						<div class="video-bx">
							<img src="assets/images/footerwhitelogo.jpeg" class="rounded" alt="" />

						</div>

					</div>
					<div class="col-lg-6 col-md-12 heading-bx">

						<p><b>Studeebee</b> is an online education platform where the professionals and students meet
							from all over India. Teaching techniques are being transformed and students are learning at
							a rapid pace therefore, we with StudeeBee accelerate their efforts and make their dreams
							come true from the comfort of their place. Students can interact with teachers round the
							clock, a friendly atmosphere makes the students more comfortable to ask them their doubts
							and get clarified within no time.
							<br />Real-time teaching makes students and professionals chat with one another which can
							make the students understand the complicated topics in the easiest way possible. This way
							StudeeBee makes leaning more fun-filled and engaging throughout the session.
						</p>

					</div>
					<div class="col-md-12">
						<div class="heading-bx ">
							<div class="col-md-12 heading-bx left">
								
								<h2 class="title-head text-uppercase">What <span>“Bee”</span> represents</h2>
							</div>
							

							<p>The ”Bee” symbolizes community, brightness, and personal power. Likewise, here at
								“StudeeBee” students brighten up their careers and enhance their power from within.
								StudeeBee is a community where professionals and students meet. This platform makes
								students fall in love with the subject a little more every single day.</p>
							<p>Every Bee contributes to making a honey hive. Likewise, StudeeBee is the product of many
								people's hard work towards its success. We await the opportunity to see you as a part of
								this successful journey.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Testimonials ==== -->
		<div class="section-area section-sp2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 heading-bx left">
						<h2 class="title-head text-uppercase">what people <span>say</span></h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a
							page</p>
					</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="assets/images/dash3.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Gautami Deokar</h5>
								<!-- <p>-Art Director</p> -->
							</div>
							<div class="testimonial-content">
								<p>What could be the more precious than getting the same experience as an elite coaching class at your home.</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="assets/images/dash1.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Dhiraj Jhadhav</h5>
								<!-- <p>-Art Director</p> -->
							</div>
							<div class="testimonial-content">
								<p>StudeeBee introduce me to a new style of learning and i am in love with it, thanks to studeebee.
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="assets/images/dash1.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Rhaksha Mehta</h5>
								<!-- <p>-Art Director</p> -->
							</div>
							<div class="testimonial-content">
								<p>StudeeBee is the best website for my son to strengthen his maths and science basis.
								</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-bx">
							<div class="testimonial-thumb">
								<img src="assets/images/dash2.jpg" alt="">
							</div>
							<div class="testimonial-info">
								<h5 class="name">Amruta Kadu</h5>
							</div>
							<div class="testimonial-content">
								<p>StudeeBee create my interest in math and now its my favorite subject, best teachers.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonials END ==== -->
		<div class="section-area bg-grey section-sp1 ">
			<div class="container">
				<div class="col-md-12 heading-bx left">
								
					<h2 class="title-head text-uppercase">OUR MISSION AND VISION </h2>
				</div>
				

				<div class="card p-3">
					<div class=" mb-0 card-body">
						<img class="mission"src="assets/images/mission.png"/>
						<p>Studeebee is the platform for students who are seeking for quality and hustle free education,
							Studeebee is all about how we can provide the best education at affordable rates in all over
							India. Teachers at Studeebee help students to understand their potential and help them in
							achieving their dreams.
						<br><br>At StudeeBee, students can get online education for their different academic courses from class
						 5th to 12th. StudeeBee also offers courses for various competi-tive exams like NEET, JEE(main /advance),
						  BIT-SAT, etc. We are planning to in-troduce MPSE, UPSE, and other professional courses modules by next year.
						<br><br>This website is compatible with computers, tablets, laptops, and mobile phones as well. </p>

						
					</div>
				</div>

			</div>
		</div>
		<!-- Director start -->
		<div class="section-area section-sp2">
			<div class="container">
				<h1 class="text-center">ABOUT DIRECTORS</h1>
				<div class="card-deck">
					<div class="card">
						<img src="assets/images/testimonials/pic2.jpg" class="rounded mx-auto d-block"
							style="width: 100%; max-width: 191px;" alt="...">
						<div class="card-body">
							<h5 class="text-center card-title">Sagar Tukaram Khandekar</h5>
							<p class="text-center font-weight-light">Designation – Founder & CEO</p>
							<p class="text-md-center">Sagar Tukaram khandekar is very innovative in every field,
								motivational
								speaker, entrepreneur, and an influencer. Who is mentoring many people from different
								industry and have been working in the education industry for 8 years.</p>

						</div>
					</div>
					<!-- <div class="card">
						<img src="assets/images/testimonials/pic2.jpg" class="rounded mx-auto d-block"
							style="width: 100%; max-width: 191px;" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center ">Ajinkya Sanjay Bhosale </h5>
							<p class="text-center font-weight-light">Designation – Co-founder</p>
							<p class="text-md-center">Ajinkya Sanjay Bhosale is a social worker, leader, entrepreneur,
								philanthropist, and influencer, who has been helping many NGOs and other people. He has
								been in the education industry for 12 years.</p>

						</div>
					</div> -->

				</div>
			</div>
		</div>
		<!-- Director End -->
	</div>
	<!-- Page Content Box END ==== -->

</div>
<!-- Inner Content Box END ==== -->