
<!-- Inner Content Box ==== -->
<div class="page-content">
	<!-- Page Heading Box ==== -->
	<div class="page-banner ovbl-dark"
		style="background-image:url(assets/images/banner/book.jpg);background-size: 100% 201%;">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white">Pro-Coder</h1>
			</div>
		</div>
	</div>
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li><a href="/home">Home</a></li>
				<li>Pro-Coder</li>
			</ul>
		</div>
    </div>
<div class="content-block">
    <div class="section-area section-sp1 our-story">
        <div class="container">
            <!-- <h1 class=" text-center">PRO CODER </h1> -->
            <div class="row align-items-center d-flex">


                <div class="col-lg-6 col-md-12 heading-bx p-lr">
                    <div class="video-bx pro-coder ">
                        <img src="assets/images/pro.jpeg" class="rounded" alt="" />

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 heading-bx coding">

                  <br/>
                  <br/>
               
                    
                    <h2 class="title-head text-uppercase left">Pro-Coder <span>“For 6 To 12”</span>Years</h2>
                  <p><b>Why coding is necessary ?</b></p>

                 <p>1.Coding is a gateway to the new modern world
                 Coding is very important in our new modern world, coding is totally different language, which teaches how to think logically and efficiently.</p>
                 <p>2.Foster creativity By experimenting, children learn and strengthen their brains. This will help them to think in different way.</p>
                 <p>3.Confident problem solver Coding helps children to become confident problem solver.</p>
                 <p>4.Help children with MATHS skill Coding will help children to visualize abstract concepts, lets them apply math to real-world situations, and makes math fun and creative</p>
            
            <!-- <p>Why studeebee pro-coder</p>
            
            <p>1.	Best faculty We got the best faculties from top tier colleges with 10+ years of experience. </p>
            <p>2.	Best curriculum Easy and simply content designed by our procoder expert team.</p>
            <p>3.	Flexible Learn according to your convenient time.</p>
            <p>4.	Live and interactive classes  Students and teachers can interact with each other, ask their doubts.</p>
            
            
            <p>How it works?</p>

            <p>Step 1. Enroll for coding class with Studeebee.</p>
            <p>Step 2. Our team will reach out to you to help you schedule the class according to your time convenient.</p>
            <p>Step 3. Our coding expert will take a 45 min session with your child in which our coding expert will explain different concepts</p> 
            <p>Step 4. If you like the session, you can continue by buying any of the available coding courses.</p>
            <p>Step 5. We will schedule your weekly sessions according to your convenient time and your child can continue the learning journey with us.</p> -->
          </div>

        </div>
         
       
        <div class="col-md-12">
         <p><b>Why studeebee pro-coder ?</b></p>
            
            <p>1.	Best faculty We got the best faculties from top tier colleges with 10+ years of experience. </p>
            <p>2.	Best curriculum Easy and simply content designed by our procoder expert team.</p>
            <p>3.	Flexible Learn according to your convenient time.</p>
            <p>4.	Live and interactive classes  Students and teachers can interact with each other, ask their doubts.</p>
            
            
            <p><b>How it works?</b></p>

            <p>Step 1. Enroll for coding class with Studeebee.</p>
            <p>Step 2. Our team will reach out to you to help you schedule the class according to your time convenient.</p>
            <p>Step 3. Our coding expert will take a 45 min session with your child in which our coding expert will explain different concepts</p> 
            <p>Step 4. If you like the session, you can continue by buying any of the available coding courses.</p>
            <p>Step 5. We will schedule your weekly sessions according to your convenient time and your child can continue the learning journey with us.</p> 
        </div>


</div>
</div>



    </div>

