<!-- Inner Content Box ==== -->
<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark"
        style="background-image:url(assets/images/banner/book.jpg);background-size: 100% 201%;">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">Teaching</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="/home">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading Box END ==== -->
    <!-- Page Content Box ==== -->
    <div class="content-block">
        <!-- About Us ==== -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon1.png" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                <p>“An investment in knowledge always pays the best interest.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon2.png" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Kingster's Principle</h5>
                                <p>“Education is simply the soul of a society as it passes from one generation to
                                    another.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon3.png" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Key Of Success</h5>
                                <p>“The Pessimist Sees Difficulty In Every Opportunity. The Optimist Sees Opportunity In
                                    Every Difficulty.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="assets/images/icon/icon4.png" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                <p>“Education is the key that unlocks the golden door to freedom.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us END ==== -->
        <!-- Our Story ==== -->

        <div class="section-area section-sp1 our-story">
            <div class="container">
                <h1 class=" text-center title-head text-uppercase">Become a teacher with Studeebee:</h1>
                <div class="row align-items-center d-flex">


                    <div class="col-lg-6 col-md-12 heading-bx p-lr">
                        <div class="video-bx">
                            <img src="assets/images/footerwhitelogo.jpeg" class="rounded" alt="" />

                        </div>

                    </div>
                    <div class="col-lg-6 col-md-12 heading-bx">

                        <p>Wanna earn from the comfort of your home? Then you are in the right place. You need not step
                            out of the home to earn when you can make money sitting at home.<br> Yes, you heard it
                            right!
                            <b> Studeebee</b> offers a great opportunity to contribute your knowledge to students
                            online. You
                            will be surprised by your earnings that too, at your comfortable time. There is a good
                            earning potential for all the talented teach-ers all over the world. StudeeBee is a step
                            ahead in houring their work and rewarding them with what they actually deserve. You can be a
                            part of the wonderful community and a part of the successful student stories all over India.
                        </p>

                    </div>

                </div>
            </div>
        </div>


        <div class="section-area bg-grey section-sp1 ">
            <div class="container">
                <div class="container">
                    <div class="col-md-12 heading-bx left">
                                  
                          <h2 class="title-head text-uppercase">Why teach with studeebee</h2>
                      </div>
                <div class="card">
                    <!-- <h5 class="card-header text-uppercase">Let's See</h5> -->
                    <div class="card-body">
                        <!-- <h5 class="card-title">Let's See</h5> -->
                        <ol class="list-group">
                            <li class="list-group-item"> Flexibility
                                <br>Connect to students from anywhere and anytime.
                            </li>
                            <li class="list-group-item"> Good earning potential
                                <br>You can earn better while sitting at home. StudeeBee has taken all the necessary
                                steps to make teachers feel comfortable while teaching stu-dents online.
                            </li>
                            <li class="list-group-item"> Friendly Environment
                                <br>Be a part of best live education in India. Mentor and motivate others while you
                                share your knowledge.
                            </li>
                            <li class="list-group-item"> Beautiful stories
                                <br>Get connected to the students from all over India, get recognized, get ap-preciated
                                create your best stories.
                            </li>
                            <li class="list-group-item"> Quality of education in India
                                <br>The demand for great teachers is a tangible pressing need. While our country has
                                come a long way in education reform, we still have a long way to go. We at StudeeBee
                                promise you that we provide the best plat-form to the future education.
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <div class="section-area bg-grey section-sp1 ">
            <div class="container">
                  <div class="col-md-12 heading-bx left">
								
                        <h2 class="title-head text-uppercase">Expectation from a teacher on studeebee </h2>
                    </div>
                <div class="card">
                  
                    <!-- <h5 class=" text-uppercase">Expectation from a teacher on studeebee</h5> -->
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <ol class="list-group">
                            <li class="list-group-item">
                                <h6>Dedication and passionate</h6>
                                <p>Teachers are the backbone of each school community. As a teacher, your
                                    responsibilities centre upon planning, preparing and delivering effective learning
                                    and teaching programs for every students in your allocated live classes.</p>
                            </li>
                            <li class="list-group-item">
                                <h6>Knowledge</h6>
                                <p>Teachers shpuld have thorough understanding or knowledge about the subject they wish to teach. They should also be able to come up with some shortcut to make students memorise the complicated topics.</p>
                            </li>
                            <li class="list-group-item">
                                <h6>Availability</h6>
                                <p>Minimum 3 to 4 hours daily availability on Studeebee is expected.</p>
                            </li>
                            <li class="list-group-item">
                                <h6>Willing to learn and grow</h6>
                                <p>Studeebee organizes different training and certifications for our teach-ers, they will get featured on our website and we will love to see them growing.</p>
                            </li>

                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <div class="section-area bg-grey section-sp1 ">
            <div class="container">
                <div class="col-md-12 heading-bx left">
								
					<h2 class="title-head text-uppercase">Process of registration as a teacher </h2>
				</div>
                <div class="card" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">1.	Apply as a teacher</li>
                      <li class="list-group-item">2.	Initial screening</li>
                      <li class="list-group-item">3.	Training and guidance to teachers</li>
                      <li class="list-group-item">4.	Recording demo lecture</li>
                      <li class="list-group-item">5.	Documentation</li>
                      <li class="list-group-item">6.	Listing teacher on website </li>
                      <li class="list-group-item">7.	First live lecture</li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
    <!-- Page Content Box END ==== -->

</div>
<!-- Inner Content Box END ==== -->